// Base
$containersize: 768;
$basepadding: 15px;
$basemargin: 15px;
$basefontsize: 1em;

// Colors
$white: #fff;
$black: #000;
$yesgreen: #2d882d;
$nored: #a7383e;
$normalblue: #008dca;
$darken-grey-color: #424242;
$lighten-grey-color: rgba($color: #000, $alpha: .05);
$light-grey-color: rgba($color: #000, $alpha: .1);
$form-border-color: #d3d3d3;

// Divisions
$griddivisions: 12;
$formdivisions: 6;

// Forms
$form-fields-shadow: 0 2px 8px rgba(218, 218, 218, .5);

// Responsive
$medias: (
  'xl': 1690,
  'lg': 1280,
  'md': 980,
  'sm': 736,
  'xs': 480
);