// Base
$containersize: 768;
$padding: 15px;
$margin: 15px;
$font-size: 1em;

// Colors
$yes-color: #2d882d;
$yes-color-hover: #38a538;

$no-color: #a7383e;
$no-color-hover: #c24148;

$normal-color: #008dca;
$normal-color-hover: #04a1e4;

$white: #fff;
$black: #000;

$black-semitransparent: rgba($black, .7);
$grey: #d3d3d3;
$dark-grey: #9a9a9a;
$light-grey: #e6e4e4;

// Divisions
$griddivisions: 12;
$formdivisions: 6;

// Forms
$shadow: 0 2px 8px rgba(218, 218, 218, .5);

// Responsive
$medias: (
  'xl': 1690,
  'lg': 1280,
  'md': 980,
  'sm': 736,
  'xs': 480
);
