// Base
$containersize: 768;
$basepadding: 15px;
$basefontsize: 1em;

// Divisions
$griddivisions: 12;
$formdivisions: 6;

// Forms
$form-border-color: #d3d3d3;
$form-fields-shadow: 0 2px 8px rgba(218, 218, 218, .5);

// Responsive
$medias: (
  'xl': 1690,
  'lg': 1280,
  'md': 980,
  'sm': 736,
  'xs': 480
);
