.form {
  display: flex;
  flex-wrap: wrap;

  &--bordered {
    border: 1px solid $grey;
    border-radius: 5px;
    padding: $padding / 1.5;
  }
}

.form-group {
  flex: 1 1 auto;
  max-width: 100%;
}

@for $i from 1 through $formdivisions {
  .form-group-#{$i} {
    flex: 0 0 (100 / $i) * 1%;
    max-width: (100 / $i) * 1%;
  }
}

*[class*='form-group'] {
  padding: $padding / 3;

  label {
    display: block;
    font-size: $font-size;
  }

  input,
  select,
  textarea {
    border: 1px solid $grey;
    border-radius: 5px;
    display: block;
    padding: $padding / 2;
    resize: vertical;
    width: 100%;

    &:focus {
      box-shadow: $shadow;
    }
  }
}

.form-actions {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  max-width: 100%;
  padding: $padding / 3;

  .form-button {
    cursor: pointer;
    margin-left: $margin / 3;
    padding: $padding / 1.5;

    &--yes {
      @include form-button-style($yes-color, $yes-color-hover, $white);
    }

    &--no {
      @include form-button-style($no-color, $no-color-hover, $white);
    }

    &--normal {
      @include form-button-style($normal-color, $normal-color-hover, $white);
    }
  }
}
