.form {
  display: flex;
  flex-wrap: wrap;

  &--bordered {
    border: 1px solid get-color('grey', 400);
    padding: $padding / 1.5;
  }
}

.form-group {
  flex: 1 1 auto;
  max-width: 100%;
}

@for $i from 1 through $formdivisions {
  .form-group-#{$i} {
    flex: 0 0 (100 / ($formdivisions / $i)) * 1%;
    max-width: (100 / ($formdivisions / $i)) * 1%;
  }
}

*[class*='form-group'] {
  padding: $padding / 3;

  label {
    display: block;
    font-size: $font-size;
  }

  input,
  select,
  textarea {
    border: 1px solid get-color('grey', 400);
    border-radius: 5px;
    display: block;
    padding: $padding / 2;
    resize: vertical;
    width: 100%;

    &:focus {
      box-shadow: $shadow;
    }
  }
}

.form-actions {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  max-width: 100%;
  padding: $padding / 3;

  .form-button {
    cursor: pointer;
    margin-left: $margin / 3;
    padding: $padding / 1.5;

    &--yes {
      @include form-button-style(get-color('green', 500), get-color('green', 600), get-color('white', base));
    }

    &--no {
      @include form-button-style(get-color('red', 700), get-color('red', 800), get-color('white', base));
    }

    &--normal {
      @include form-button-style(get-color('blue', 500), get-color('blue', 600), get-color('white', base));
    }
  }
}
