// Create mixins
@mixin row {
  display: flex;
  flex-wrap: wrap;
}

@mixin col($width) {
  width: $width;
}

// Create elements
// Row
.row {
  @include row;
  justify-content: start;
}

.row-reverse {
  @include row;
  justify-content: end;
}

// Column
@for $i from 1 to ($griddivisions + 1) {
  .col-#{$i} {
    @include col(unquote((100 / $i) + '%'));
  }
}

// Responsive columns
@each $size, $value in $medias {
  @media screen and (min-width: unquote($value + 'px')) {
    @for $i from 1 to ($griddivisions + 1) {
      .#{$size}-col-#{$i} {
        @include col(unquote((100 / $i) + '%'));
      }
    }
  }
}
