// Container
.container {
  margin: 0 auto;
  max-width: map-get($medias, 'sm') * 1px;

  &--fluid {
    margin: 0;
    max-width: 100%;
  }
}

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &--vertical {
    flex-direction: column;
  }

  &--align-end {
    justify-content: flex-end;
  }

  &--align-center {
    justify-content: center;
  }

  &--align-around {
    justify-content: space-around;
  }

  &--align-between {
    justify-content: space-between;
  }
}

// Column
.col {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
}

.col-hide {
  display: none;
}

@for $i from 1 through $griddivisions {
  .col-#{$i} {
    display: block;
    flex: 0 0 (100 / ($griddivisions / $i)) * 1%;
    max-width: (100 / ($griddivisions / $i)) * 1%;
  }
}
