// Table
@mixin cell($padding) {
  border: 1px solid $grey;
  display: table-cell;
  padding: $padding;
  text-align: start;
}

// Forms
@mixin form-button-style($color, $hovercolor, $textcolor) {
  background-color: $color;
  border: 1px solid $color;
  border-radius: 4px;
  color: $textcolor;
  font-size: 1em;
  text-decoration: none;

  &:hover {
    background-color: $hovercolor;
    border: 1px solid $hovercolor;
  }
}
