.table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;

  thead {
    color: $darken-grey-color;

    tr {
      display: table-row;
    }

    th {
      @include border;
      display: table-cell;
      padding: 2rem 0;
    }
  }

  tbody {
    display: table-row-group;

    tr {
      display: table-row;
    }

    td {
      @include border;
      display: table-cell;
      padding: 1.5rem 0;
    }
  }

  &--striped {
    tr {
      &:nth-child(odd) {
        background-color: $lighten-grey-color;
      }
    }
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &--highlight {
    tr {
      &:hover {
        background-color: $light-grey-color;
      }
    }
  }
}
