.table {
  border-collapse: collapse;
  display: table;
  font-size: $font-size;
  width: 100%;

  thead {
    color: $black;

    tr {
      display: table-row;
    }

    th {
      @include cell($padding / 1.5);
    }
  }

  tbody {
    display: table-row-group;

    tr {
      display: table-row;
    }

    td {
      @include cell($padding / 2);
    }
  }

  &--striped {
    tbody > tr {
      &:nth-child(odd) {
        background-color: $light-grey;
      }
    }
  }

  &--highlight {
    tbody > tr {
      &:hover {
        background-color: $light-grey;
      }
    }
  }

  &--align-center {
    tr > td,
    tr > th {
      text-align: center;
    }
  }

  &--align-right {
    tr > td,
    tr > th {
      text-align: right;
    }
  }
}
